@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

form {
    background-color:#1f1e1e;
    max-width: 600px;
    margin: 20px 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
    display: flex;
}

.field input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #424242;
    background-color: #eaeaea0a;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    color: #fff;
}

.field input[type="text"]:focus {
    border-color: blue;
    outline: none;
}



.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to right, #002bff, #5100f3);
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    width: 150px; /* Fixed width for consistent button size */
  }
  
  .button:hover {
    background: linear-gradient(to right, #5100f3, #002bff); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
  }

@media (max-width: 600px) {
    form {
        padding: 20px;
        max-width: 600px;
    }

    .button{
        width: 100px;
    }
    .font{
        font-size: 15x;
    }
}